@inherits LayoutComponentBase
@using SmallsOnline.Weather.WebApp.Shared.Navigation

<div>
    <header>
        <Navbar />
    </header>
    <main>
        <div class="container pt-2">
            <div class="row py-3">
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>
